/* hacks */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: gray;
}
