/* https://www.realtimecolors.com/?colors=edecf3-0f0e18-a5a0cf-38326f-756cc5&fonts=Armata-Armata*/

:root.dark {
  --text-color: #edecf3;
  --background-color: #0f0e18;
  --primary-color: #a5a0cf;
  --secondary-color: #38326f;
  --accent-color: #756cc5;
}

:root.light {
  --text-color: #0d0c13;
  --background-color: #e9e9f2;
  --primary-color: #35305f;
  --secondary-color: #958ecc;
  --accent-color: #433a92;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#display,
#buttonsTab {
  background-color: var(--secondary-color);
}

body,
#calculator,
#display,
#buttonsTab,
#numbers,
#operators {
  display: flex;
}

body,
#display {
  align-items: center;
}

body {
  justify-content: center;
  width: 97vw;
  height: 98vh;
  background-color: var(--background-color);
}
button,
#display {
  font-family: "Fira code", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

button {
  flex-grow: 1;
  font-size: 1rem;
  background-color: var(--accent-color);
  border: 3px solid var(--background-color);
  border-radius: 6px;
  color: var(--background-color);
}
button:hover,
.dim {
  filter: brightness(90%);
}
#calculator,
#display,
#buttonsTab {
  border-radius: 12px;
}

#calculator {
  flex-direction: column;
  flex-shrink: 0;
  height: 60.5vh;
  min-height: 600px;
  aspect-ratio: 1/1.5;
  background-color: var(--primary-color);
  border: 4px solid var(--secondary-color);
}

#display {
  justify-content: flex-end;
  padding: 1%;
  margin: 5% 5% 0 5%;
  border: 4px solid var(--background-color);
  color: var(--text-color);
  font-size: 3.5rem;
}

#buttonsTab {
  margin: 5%;
  height: 100%;
  border: 4px solid var(--background-color);
  gap: 6px;
}

#operators,
#numbers {
  gap: 2px;
  flex-wrap: wrap;
}

#numbers {
  width: calc(100% * 3 / 5);
  margin: 5% 0 5% 5%;
}
#numbers button {
  width: 32%;
}

#operators {
  width: calc(100% * 2 / 5);
  margin: 5% 5% 5% 0;
}

button:not(#Escape, #Backspace) {
  font-size: 1.5rem;
}

#operators button {
  width: calc(67% / 2);
}

.dot {
  flex: 0 0 32.5%;
}
.zero {
  flex-basis: calc(32% * 2);
}
